/* font */
/* noto-serif */
<link rel="preconnect"href="https://fonts.googleapis.com"><link rel="preconnect"href="https://fonts.gstatic.com"crossorigin><link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"rel="stylesheet">
.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

/* inter */

<link rel="preconnect"href="https://fonts.googleapis.com"><link rel="preconnect"href="https://fonts.gstatic.com"crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"rel="stylesheet">.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* shared styles */
.color {
    color: #8987A1;
    opacity: 50%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80px;
    width: auto;
    margin: 0;
    padding: o;
}

.nav {
    display: flex;
    gap: 48px;
}

.nav-items {
    display: flex;
    gap: 48px;
}

.nav-items li {
    list-style-type: none;
}

.nav-items li a {
    text-decoration: none;
    color: #8987A1;
    font-weight: 500;
}

#home {
    color: #252432;
    font-weight: bold;
}

/* banner-section */

.banner-section {
    display: flex;
    margin: 100px auto;
    align-items: center;
    width: 100%;
}

.banner {
    position: relative;

}

.banner-title {
    font-size: 4rem;
    color: #000000;
}

.banner-span {
    color: #E95A08;

}

.banner-image {
    width: 100%;
}

.banner-subtitle {
    font-size: 22px;
    color: #000000;
    opacity: 50%;
    width: 80%;
}


/* plants */
.plants {
    padding: 50px 0;
}

.plants-title {
    font-size: 3.1rem;
    text-align: center;
}

.plants-subtitle {
    text-align: center;
    font-size: 1.3rem;
    width: 80%;
    margin: 0 auto;
    color: #000000;
    opacity: 50%;
}

.plants-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 0;

}

.card {
    text-align: center;
    width: 100%;
}

.card-title {
    font-size: 22px;
    padding: 10px 0;
}

.card-doller {
    font-size: 22px;
    font-weight: bold
}

.card-btn {
    width: 100%;
    color: white;
    background-color: #E95A08;
    font-weight: 600;
    border: none;
    padding: 10px;
    margin-top: 20px;
}
/* flower $ plants lover */
.plants-lover{
    padding: 50px 0;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.plants-badge{
position: relative;
width: 100%;    

}
.lover-badge{
    position: absolute;
    width: 50%;
    left: 65%;
    top: -90px;
    animation: infiniteMode 3s linear infinite;
}
.plants-lover-title{
    font-size: 50px;
    padding: 20px 0;
}

.lover-description li{
    font-size:22px ;
    color: #000000;
    opacity: 50%;
    padding: 20px 10px;

}

/* deals flower */

.deals{
    padding: 50px 0;
}
.deals-section{
    display: flex;
    gap: 30px;
    padding: 50px 0;
}
.left-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.right-column{
    flex: 2;
}

.deals-card{
    background-size: cover;
    background-position: center;
    color: white;

    font-weight: bold;
    text-align: center;
    border-radius: 12px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.deals-card a{
    color: white;
    font-size:24px;
    
}
 .deals-card:nth-child(1){
    background-image: url('../assets/deal-bloom.png');
}
.deals-card:nth-child(2){
    background-image: url('../assets//deal-ana.png');
}
.right-column .deals-card{
    background-image: url('../assets/deal-zabo.png');
    height: 415px;
}














/* responsive-design */
@media(max-width:676px) {

    .navbar {
        width: 95%;
    }

    .nav-items {
        display: none;
    }

    .banner-image {
        width: 100%;
    }

    /* banner-section */

    .banner-section {
        width: 90%;
        margin: 28px auto;
        display: flex;
        flex-direction: column-reverse;
        gap: 28px;

    }

    .banner-title {
        font-size: 1.4rem;
    }

    .banner-subtitle {
        font-size: .7rem;
        width: 100%;
        padding-top: 10px;
    }

    /* plants */
    .plants {
        width: 90%;
        margin: auto;
    }

    .plants-title {
        font-size: 1.4rem;
    }

    .plants-subtitle {
        font-size: 0.7rem;
        width: 100%;
    }

    .plants-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .card-img{
        width: 100%;
    }

    .card-title, .card-doller, .card-btn {
        font-size: 16px;
    }
    /* flower $ plants lover */
    .plants-lover ,.deals{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    
}

.plants-badge img{
    width: 100%;
     
}
.lover-badge{
    display: none;
    
}
.plants-lover-title{

    font-size: 24px;
    padding: 20px 0px;
    
}
.plants-description-section ul{
   padding: 20px 30px;
    margin: auto; 
}
.lover-description li{
    font-size:14px ;
}
/* latest deals */

.deals-section{
    display: flex;
flex-direction: column;
}



.deals-card a{
    color: white;
    font-size:24px;
    
}
.deals-card h1, h3{
        font-size: 30px;
}
.right-column .deals-card{
    background-image: url('../assets/deal-zabo.png');
    height: 200px;

}










}

@keyframes infiniteMode {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}



